.progress-bar {
    border: 1px solid #000;
    height: 40px;
    max-width: 80%;
}
.progress {
    height: 100%;
    width: 30px;
    
}

.progress.green {
    background-color: green;
}

.progress.pink {
    background-color: pink;
}